{% import 'macros.jinja' as utils %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Event App | Login</title>
    </head>
    <body>
    {% if lockout %}
        <h1>You Have Been Locked Out From Logging In.</h1>
        <h2>If You Are Having Trouble Accessing Your Account Go To <a href="{{ url_for('users.recovery') }}">Account
            Recovery</a></h2>
    {% endif %}
        <form method="POST" action="{{ url_for('users.login') }}">
            {{ form.hidden_tag() }}
            {{ form.email(placeholder=form.email.label.text, maxlength=100, autofocus=True, required=True) }}
            {{ utils.wtf_error(form.email) }}
            {{ form.password(placeholder=form.password.label.text, required=True) }}
            {{ utils.wtf_error(form.password) }}
            <input type="submit" value="Submit">
        </form>
    </body>
</html>