{% import 'macros.jinja' as utils %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Event App | Register</title>
    </head>
    <body>
        <form method="POST" action="{{ url_for('users.register') }}">
            {{ form.hidden_tag() }}
            {{ form.first_name(maxlength=40, required=True, placeholder=form.first_name.label.text, autofocus=True) }}
            {{ utils.wtf_error(form.first_name) }}
            {{ form.first_name(maxlength=40, placeholder=form.last_name.label.text) }}
            {{ utils.wtf_error(form.last_name) }}
            {{ form.email(maxlength=100, placeholder=form.email.label.text, required=True) }}
            {{ utils.wtf_error(form.email) }}
            {{ form.password(placeholder=form.password.label.text, required=True) }}
            {{ utils.wtf_error(form.password) }}
            <input type="submit" value="Submit">
        </form>
    </body>
</html>