{% import 'macros.jinja' as utils %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Event App | Register</title>
        <script>
            (function () {
                var d = document, t = 'script', o = d.createElement(t), s = d.getElementsByTagName(t)[0];
                o.src = "https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js";
                o.crossOrigin = "anonymous";
                o.async = true;
                o.integrity = "sha256-Znf8FdJF85f1LV0JmPOob5qudSrns8pLPZ6qkd/+F0o=";
                o.addEventListener("load", function () {
                    document.getElementById("password_input").addEventListener("change", function () {
                        console.log(this.value);
                    });
                });
                s.parentNode.insertBefore(o, s);
            })();
        </script>
    </head>
    <body>
        <form method="POST" action="{{ url_for('users.register') }}">
            {{ form.hidden_tag() }}
            {{ form.first_name(maxlength=40, required=True, placeholder=form.first_name.label.text, autofocus=True) }}
            {{ utils.wtf_error(form.first_name) }}
            {{ form.first_name(maxlength=40, placeholder=form.last_name.label.text) }}
            {{ utils.wtf_error(form.last_name) }}
            {{ form.email(maxlength=254, placeholder=form.email.label.text, required=True) }}
            {{ utils.wtf_error(form.email) }}
            {{ form.password(placeholder=form.password.label.text, required=True, id="password_input") }}
            {{ utils.wtf_error(form.password) }}
            {{ form.recaptcha }}
            {{ utils.wtf_error(form.recaptcha) }}
            <input type="submit" value="Submit">
        </form>
    </body>
</html>