@import ../global

main
    #userLocation
        position: relative
        width: 100%
        height: 400px

    .update-button
        background-color: #FF851B
        border: none

        &:hover
            cursor: pointer