{% extends "global.jinja" %}

{% macro tokenise(
    order=request.args.get('order', 'distance'),
    dist=request.args.get('dist', 'far')
) %}
    {{ url_for("events.discover", order=order, dist=dist) }}
{% endmacro %}

{% macro event_card(event) %}
    <div class="list-card">
        <a class="content" href="{{ url_for('events.view_event', token=event.url_id) }}">
            <time class="start">{{ event.start.strftime("%a %-d %b. %-I:%M %p") }}</time>
            <div class="name">{{ event.name }}</div>
            {% if current_user.location_enabled %}
                <div class="distance">{{ event.distance_from(current_user.latitude, current_user.longitude)|round(1) }}
                    Kilometres
                </div>
            {% endif %}
        </a>
        <div class="buttons">
            {% if event.owner == current_user %}
                <button type="button" disabled>Own Event</button>
            {% else %}
                <button type="button" onclick="toggleSubscription(this)"
                        data-id="{{ event.url_id }}">{{ "Unsubscribe" if current_user.subscribed(event) else "Subscribe" }}</button>
            {% endif %}
            <a class="button" type="button" href="{{ url_for("events.view_event", token=event.url_id) }}">View</a>
        </div>
    </div>
{% endmacro %}

{% block title %}Vent | Discover{% endblock %}

{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/events/discover.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        function toggleSubscription(node) {
            console.log(node);
            $.post('{{ url_for('ajax.update_subscription') }}',
                {token: node.dataset.id},
                'json'
            ).done(function (data) {
                if (data['subscribed'] === true) {
                    saveSubscription().then(function () {
                        node.innerHTML = "Unsubscribe";
                        toastr["success"]("Successfully Subscribed");
                    });
                } else {
                    node.innerHTML = "Subscribe";
                    toastr["success"]("Successfully Unsubscribed");
                }
            }).fail(function () {
                toastr['error']("Something Went Wrong - Try Again Later");
            });
        }
    </script>

    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
            integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
            crossorigin=""></script>
    <script type="text/javascript">
        var map;
        var eventMarkers = {};
        $(document).ready(function () {
            map = L.map('eventMap');
            {%- if current_user.location_enabled -%}
                console.log('Defaulting To Users Set Location');
                map.setView([{{ current_user.latitude }}, {{ current_user.longitude }}], 13);
                L.marker([{{ current_user.latitude }}, {{ current_user.longitude }}]).bindPopup("You Are Here").addTo(map);
            {% else %}
                console.log('No Location Set, Attempting To Locate');
                map.locate({setView: true});
            {% endif %}
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a></div>',
                maxZoom: 14,
                minZoom: 11,
                id: 'mapbox.streets',
                accessToken: "{{ config['MAPBOX_ACCESS_TOKEN'] }}"
            }).addTo(map);

            {% for event in events %}
                eventMarkers["{{ event.url_id }}"] = L.marker([{{ event.latitude }}, {{ event.longitude }}]).bindPopup("{{ event.name }}").addTo(map);
            {% endfor %}
        });
    </script>
{% endblock %}

{% block nav_items %}
    <li class="navigation-item">
        <a class="navigation-link" href="{{ url_for('home.index') }}">Dashboard</a>
    </li>
    <li class="navigation-item">
        <a class="navigation-link" href="{{ url_for('events.discover') }}">Discover</a>
    </li>
    <li class="navigation-item">
        <a class="navigation-link" href="{{ url_for('users.settings') }}">Settings</a>
    </li>
    <li class="navigation-item">
        <a class="navigation-link" href="#" onclick="$('#logout-form').submit();">Logout</a>
    </li>
{% endblock %}

{% block content %}
    {% if nearby != None %}
        <div id="eventMap"></div>
    {% endif %}
    <div class="container" id="event-container">
        <div class="controls">
            {% set dist=request.args.get("dist", "far") %}
            {% set order=request.args.get("order", "distance") %}
            <div class="group">
                <h5>Order By</h5>
                <a class="button {{ 'selected' if order=="time" or order==None else '' }}"
                   href="{{ tokenise(order="time") }}">Time</a>
                <a class="button {{ 'selected' if order=="distance" else '' }}"
                   href="{{ tokenise(order="distance") }}">Distance</a>
                <a class="button {{ 'selected' if order=="name" else '' }}"
                   href="{{ tokenise(order="name") }}">Name</a>
            </div>
            <div class="group">
                <h5>Distance</h5>
                <a class="button {{ 'selected' if dist=="nearby" else '' }}"
                   href="{{ tokenise(dist="nearby") }}">Nearby</a>
                <a class="button {{ 'selected' if dist=="medium" else '' }}"
                   href="{{ tokenise(dist="medium") }}">Medium</a>
                <a class="button {{ 'selected' if dist=="far" or dist==None else '' }}"
                   href="{{ tokenise(dist="far") }}">Far</a>
            </div>
        </div>
        <div class="events">
            {% if events|length > 0 %}
                {% for event in events %}
                    {{ event_card(event) }}
                {% endfor %}
            {% else %}
                <h1 class="error">There are no events found, try <a href="{{ url_for('events.discover') }}">removing
                    filters</a>, or <a href="{{ url_for('events.create_event') }}">create a new event</a></h1>
            {% endif %}
        </div>
{% endblock %}