{% extends "global.jinja" %}

{% block title %}Vent | {{ event.name }}{% endblock %}

{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/events/event_detail.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        {% if owner %}
            function changeMessageType(node) {
                if (node.value === "{{ message_types.TEXT.value }}") {
                    $('#message-text').show();
                    $('#image-input').hide();
                } else if (node.value === "{{ message_types.IMAGE.value }}") {
                    $('#image-input').show();
                    $('#message-text').hide();
                }
            }

            $(document).ready(function () {
                $('#message-form').submit(function (e) {
                    var form = $('#message-form');
                    var elements = ["#event-token", "#type-select"];
                    var type = $('#type-select').val();

                    if (type === '{{ message_types.TEXT.value }}') {
                        elements.push('#message-text');
                        $.ajax({
                            type: "POST",
                            url: form.attr('action'),
                            data: $(elements.join(', ')).serialize(),
                            success: function () {
                                window.location.reload();
                            }
                        });
                    } else if (type === '{{ message_types.IMAGE.value }}') {
                        var input = $('#image-input');
                        var file = input.prop('files')[0];

                        var data = new FormData();
                        data.append('type', type);
                        data.append('token', $('#event-token').val());

                        var xhr = new XMLHttpRequest();
                        if (xhr.upload) {
                            if (file.size <= {{ config['MAX_CONTENT_LENGTH'] }}) {
                                data.append('image', file, file.name);
                                xhr.onreadystatechange = function () {
                                    console.log(this);
                                    if (this.readyState === 4 && this.status === 201) {
                                        window.location.reload();
                                    }
                                };
                                xhr.open("POST", form.attr('action'), true);
                                xhr.send(data);
                            } else {
                                toastr['error']("This Image is Too Big");
                            }
                        } else {
                            toastr['error']("Image Uploads Not Supported In This Browser");
                        }
                    }

                    e.preventDefault();
                });
            });
        {% else %}
            const subscribeOptions = {
                userVisibleOnly: true,
                applicationServerKey: urlBase64ToUint8Array('{{ config.WEB_PUSH_PUBLIC_KEY }}')
            };

            function toggleSubscription() {
                $.post('{{ url_for('ajax.update_subscription') }}',
                    {token: "{{ event.url_id }}"},
                    'json'
                ).done(function (data) {
                    if (data['subscription'] === true) {
                        saveSubscription().then(function () {
                            window.location.reload();
                        });
                    } else {
                        window.location.reload(); // Reload for now due to errors with no-message
                    }
                }).fail(function () {
                    toastr['error']("Something Went Wrong - Try Again Later");
                });
            }

            eventSource.addEventListener('message', function (event) {
                var data = JSON.parse(event.data);
                switch (data.type) {
                    case 'text':
                        alert(data.data.message);
                        break;
                }
            });

            $(document).ready(function () {
                $('#question-form').submit(function (e) {
                    var form = $(this);

                    $.ajax({
                        type: "POST",
                        url: form.attr('action'),
                        data: form.serialize(),
                        success: function () {
                            window.location.reload();
                        }
                    });

                    e.preventDefault();
                });
            });
        {% endif %}
    </script>
{% endblock %}

{% block nav_items %}
    <li class="navigation-item">
        <a class="navigation-link" href="{{ url_for('home.index') }}">Dashboard</a>
    </li>
    <li class="navigation-item">
        <a class="navigation-link" href="{{ url_for('events.discover') }}">Discover</a>
    </li>
    <li class="navigation-item">
        <a class="navigation-link" href="{{ url_for('users.settings') }}">Settings</a>
    </li>
    <li class="navigation-item">
        <a class="navigation-link" href="#" onclick="$('#logout-form').submit();">Logout</a>
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="details">
            <div class="event-title">
                <h1>{{ event.name }}</h1>
                {% if not owner %}
                    <button type="button" onclick="toggleSubscription();">{% if subscribed %}Unsubscribe{% else %}
                        Subscribe{% endif %}</button>
                    <button type="button">View On Map</button>
                    {% if answered_questions == 1 %}
                        <a href="{{ url_for('events.questions', token=event.url_id) }}">
                            <button type="button">{{ answered_questions }} Question</button>
                        </a>
                    {% elif answered_questions > 1 %}
                        <a href="{{ url_for('events.questions', token=event.url_id) }}">
                            <button type="button">{{ answered_questions }} Questions</button>
                        </a>
                    {% endif %}
                {% else %}
                    {% if unanswered_questions == 1 %}
                        <a href="{{ url_for('events.questions', token=event.url_id) }}">
                            <button type="button">{{ unanswered_questions }} Question</button>
                        </a>
                    {% elif unanswered_questions > 1 %}
                        <a href="{{ url_for('events.questions', token=event.url_id) }}">
                            <button type="button">{{ unanswered_questions }} Questions</button>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
            <p>{{ event.description }}</p>
            {# Q&A #}
        </div>
    </div>
    <hr>
    <div class="messages container">
        {% if messages|length == 0 and not owner %}
            {% if not subscribed %}
                <h2 class="no-messages">There are no messages, <span>subscribe</span> to stay updated!</h2>
            {% else %}
                <h2 class="no-messages">Keep tuned for updates here!</h2>
            {% endif %}
        {% else %}
            {% for message in messages %}
                {% if loop.first or (message.timestamp - loop.previtem.timestamp) >= config['MESSAGE_BREAK_AFTER_DELTA'] %}
                    <span class="timestamp">{{ message.timestamp.strftime('%d %B %Y') }}</span><br>
                {% endif %}
                {{ message.render(class_=["msg"]) | safe }}
                <br>
            {% endfor %}
        {% endif %}
    </div>
    <hr>
    {% if owner %}
        <div class="add-message">
            <form id="message-form" action="{{ url_for('ajax.event_add_message') }}" method="POST">
                <h3>Add Message</h3>
                <input id="event-token" type="hidden" name="token" value="{{ event.url_id }}">
                <label for="type-select">Type</label>
                <select name="type" id="type-select" onchange="changeMessageType(this);" autocomplete="off">
                    <option selected value="{{ message_types.TEXT.value }}">Text</option>
                    <option value="{{ message_types.IMAGE.value }}">Image</option>
                </select>
                <textarea id="message-text" name="message"></textarea>
                <input style="display: none;" name="image" type="file" id="image-input" accept="image/jpeg,image/png">
                <input type="submit" value="Add Message">
            </form>
        </div>
    {% else %}
        <div class="add-question">
            <form id="question-form" action="{{ url_for('ajax.event_add_question') }}" method="POST">
                <h3>Ask a Question!</h3>
                <input type="hidden" name="token" value="{{ event.url_id }}">
                <textarea id="message-text" name="message" maxlength="100"></textarea>
                <input type="submit" value="Add Question">
            </form>
        </div>
    {% endif %}
{% endblock %}
