<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Event App | Events</title>
</head>
<body>
<a href="{{ url_for("events.create_event") }}">Create</a>
<br/>
<h1>Owned Events</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Private</th>
        <th>Description</th>
    </tr>
    {% for event in owned %}
        <tr>
            <td><a href="{{ url_for('events.view_event', token=event.url_id) }}">{{ event.name }}</a></td>
            <td>{{ event.private }}</td>
            <td>{{ event.description }}</td>
        </tr>
    {% endfor %}
</table>
<h1>Subscribed Events</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Private</th>
        <th>Description</th>
        <th>Email</th>
        <th>Push Notification</th>
    </tr>
    {% for subscription in subscribed %}
        <tr>
            <td>
                <a href="{{ url_for('events.view_event', token=subscription.event.url_id) }}">{{ subscription.event.name }}</a>
            </td>
            <td>{{ subscription.event.private }}</td>
            <td>{{ subscription.event.description }}</td>
            <td><input type="checkbox" {% if subscription.email %}checked{% endif %}></td>
            <td><input type="checkbox" {% if subscription.web_push %}checked{% endif %}></td>
        </tr>
    {% endfor %}
</table>
<h1>Unowned Events</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    {% for event in unowned %}
        <tr>
            <td><a href="{{ url_for('events.view_event', token=event.url_id) }}">{{ event.name }}</a></td>
            <td>{{ event.private }}</td>
            <td>{{ event.description }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>